.main_container{
  margin-bottom: 50px;
}
.title_container{
  font-size: 22px;
  font-weight: bold;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding: 15px 12px 10px 12px;
}
.title_container p{
  margin-left: 5px;
}

.content_container{
  width: 100%;
  margin-top: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.submit_button{
  color: rgb(35, 35, 228);
  font-size: 18px;
  padding: 4px 10px;
  margin-top: 15px;
}

.success_text{
  margin: 0 15%;
  word-break: keep-all;
  text-align: center;
  color: green;
  font-size: 15px;
  margin-bottom: 10px;
}