.MuiCardHeader-title{
  font-size: 19px !important;
  font-weight: bold !important;
  font-family: 'SUIT-Medium', 'Pretendard-Regular','Segoe UI', Tahoma, Geneva, Verdana, sans-serif !important;
  line-height: 1.122 !important;
}
.MuiCardHeader-subheader{
  font-size: 15px !important;
  font-weight: bold !important;
  font-family: 'SUIT-Medium', 'Pretendard-Regular','Segoe UI', Tahoma, Geneva, Verdana, sans-serif !important;
  /* line-height: 1.122 !important; */
}
.MuiCardContent-root p{
  font-size: 14px !important;
  font-family: 'SUIT-Medium', 'Pretendard-Regular','Segoe UI', Tahoma, Geneva, Verdana, sans-serif !important;
}